div.extrafooter {
    width: 940px;
    margin: 20px auto 20px auto;
    font-size: 14px;
    color: #888;
    text-align: right;
}

div.extrafooter img {
    float: right;
}

div.extrafooter a {
    color: #888;
}
